<div class="container cv">

  <div class="row cv-header">
    <div class="col-xs-4 dark-side">
      <%=  image_tag("logo.svg", size: "256x128") %>
      <hr class="hr-left">
    </div>
    <div class="col-xs-8 light-side">
      <span class="logo-right">CV</span><br/>
      <span class="description"><%= cv["title"] %></span>
      <hr class="hr-right">
    </div>
  </div>

  <div class="row cv-body">
    <div class="col-xs-4 dark-side">

      <div class="block">
        <div class="block-title">Summary</div>
        <div class="block-body">
          <%= simple_format(cv["summary"]) %>
        </div>
      </div>


    </div>
    <div class="col-xs-8 light-side">

      <div class="row">
        <div class="col-xs-4 field-name">
          Position
        </div>
        <div class="col-xs-8">
          <%= cv["position"] %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 field-name">
          Location
        </div>
        <div class="col-xs-8">
          <%= cv["location"] %>
        </div>
      </div>


      <div class="projects-title">Projects</div>

      <%=  %>

    </div>
  </div>

</div>